/* div.container {
  width: 400px;
  height: 350px;
  position: absolute;
  margin: auto;

  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: rotate(-90deg);
}

div.roller {
  width: 100px;
  height: 30px;
  border: 3px solid #040e35;
  border-radius: 5px;
  position: relative;
  bottom: 50px;
  background-image: linear-gradient(
    to bottom,
    rgb(145, 47, 39) 70%,
    rgb(116, 35, 38) 30%
  );
  animation: roller 6s infinite;
}

@keyframes roller {
  0%,
  100% {
    top: 80vw;
  }
  40% {
    top: 30px;
  }
}

div.roller:before {
  content: "";
  position: absolute;
  top: 5px;
  left: 5px;
  width: 60px;
  height: 5px;
  background-color: #fff;
  opacity: 0.8;
}

div.roller:after {
  content: "";
  position: absolute;
  width: 50px;
  height: 25px;
  border: 4px solid #040e35;
  border-left: none;
  right: -15px;
  top: 15px;
  z-index: -1;
}

div.roller > div.handle {
  width: 15px;
  height: 40px;
  background-color: #040e35;
  position: relative;
  top: 60px;
  left: 55px;
  border-radius: 3px;
}

div.handle:before {
  content: "";
  position: absolute;
  width: 5px;
  height: 20px;
  background-color: #040e35;
  top: -15px;
  left: 5px;
}

div.paint {
  width: 100px;
  background-color: rgb(128, 38, 41);
  height: 85vw;
  position: absolute;
  top: 90px;
  z-index: -1;
  animation: paint 6s infinite;
}

@keyframes paint {
  40% {
    height: 110px;
  }
} */
