* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.contact h1 {
  text-align: center;
  color: rgb(189, 55, 46);
  font-size: var(--s1);
  line-height: 1.2;
}

.container {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: sans-serif;
}

.contactForm {
  padding: 1rem;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}

.form-container {
  width: 20vw;
}

.left {
  width: 25vw;
  overflow: hidden;
  border-radius: 5px;
}

.left img {
  width: inherit;
  object-fit: cover;
  transform: scale(2.3);
}

.right .contact {
  display: flex;
  gap: 1rem;
  margin-right: 1rem;
}

.form,
.address {
  display: flex;
  flex-direction: column;
  padding: 1rem 0 0;
}

.form input,
textarea {
  width: 100%;
  outline: none;
  background: none;
  border: none;
  border-bottom: 2px solid #000;
  padding: 10px 0;
  margin: 5px 0;
}

.usersubmit input {
  background-color: #bd372e;
  color: white;
  font-weight: bold;
  border-radius: 5px;
  border: none;
  width: min-content;
  padding: 15px;
  margin-bottom: 0;
  cursor: pointer;
  transition: 0.3s;
}

.usersubmit input:hover {
  background-color: #f45;
}

.address {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

h4 {
  margin-bottom: 5px;
}

@media screen and (max-width: 700px) {
  .left {
    width: 60vw;
    height: 40vh;
  }

  .contactForm {
    flex-direction: column;
  }
}

@media screen and (max-width: 350px) {
  .container {
    overflow: hidden;
  }
  .left {
    height: 20vh;
  }
  .contact {
    flex-direction: column;
  }
}
