.footer .resources,
.footer .main,
.footer .footerContact {
  width: 33%;
}

.mobile {
  display: none;
}

.desktop {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.logo {
  background: white;
  width: 23rem;
  padding: 10px;
  border-radius: 8px;
  margin: 0 0 4% 0;
}

.footer {
  color: white;
  text-align: center;
  background: rgb(189, 55, 46);
  display: flex;
  justify-content: space-between;
  padding: 0 5em 15px 5em;
}

.footer a {
  color: rgb(235, 235, 235);
}

.footer a:hover {
  color: white;
}

.footer ul {
  padding: 0;
}

.footer h1 {
  padding: 20px 0 10px 0;
}

@media (max-width: 992px) {
  .footer .resources,
  .footer .main,
  .footer .footerContact {
    width: 100%;
  }
  .footer .desktop {
    display: none;
  }

  .footer .mobile {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
}
