.work h1 {
  text-align: center;
  color: rgb(189, 55, 46);
  font-size: var(--s1);
  line-height: 1.2;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
}

.gallery img {
  width: 20%;
}

.work img {
  margin: 5px;
}
