.work h1 {
  text-align: center;
  margin: 0 0 1em 0;
  color: rgb(189, 55, 46);
  font-size: var(--s1);
  line-height: 1.2;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-left: 18rem;
  margin-right: 18rem;
}

.gallery img {
  width: 24%;
}

.work img {
  margin: 5px;
}
